@import '~antd/dist/antd.css';
@import './fonts/montserrat.fonts.css';

body {
  overflow-x: hidden;
}

.App {
  font-family: 'Montserrat', sans-serif;
  padding-top: 6vh;
}

.title {
  margin-left: -4vw;
  text-align: center;
}
